node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Python & Environment Virtualization Files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
.streamlit/
.ipynb_checkpoints/
*.db
*.local

